html {
    font-family: sans-serif;
}

:root {
    --e-global-color: #1b408b;
    --e-button-color: #F7D117;
    --e-dot-color: #606060;
    --e-dot-active-color: #919294;
}

li {
    list-style: none;
}



a {
    position: relative;
}

.logo {
    padding-left: 5rem;
}

#inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

#navbar a {
    color: var(--e-global-color);
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    padding: 1rem;
}

#inner-header {
    padding: 1rem;
    align-items: center;   
}

a:hover {
    opacity: 0.60;
    border-bottom: 3px solid var(--e-button-color);
}

.dark {
    margin-top: 436px;
}

.banner {
    opacity: 0;
    position: absolute;
    transition: 0.6s;
}

.banners {
    display: flex;
} 

.banner.active {
    opacity: 1;   
}

.dots {
    display: flex;
    position: absolute;
    gap: 1rem;
    margin-top: 400px;
    padding-left: 30rem;
}

.dot.active {
    background-color: var(--e-global-color);
}

.dot {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 6px;
    border: 0.2px solid var(--e-button-color);
}

.new-holland-e-polaris {
    padding-left: 20rem;
}

hr {
    background-color: var(--e-global-color);
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 15px;
}

.ne {
    color: #313131;
}

.cne {
    text-transform: uppercase;
    color: rgb(84, 84, 84);
    font-weight: bold;
    text-align: center;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-img{
    width: 280px;
    height: 180px;
  }

  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  
 /* .swiper-button-next{
    left: 0;
  }

  .swiper-button-prev{
    left: 0;
  }*/
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

  .fcc {
    padding: 0.7rem;
    background-color: var(--e-global-color);
    color: #FFF;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 0.7rem;
    border: 0px;
    margin-left: 590px;
    margin-top: 60px;
  }

 .fcc:hover {
    opacity: 0.60;
    transition: 0.4s;
}
 
.mn {
    color: #FFF;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.rodape {
    margin-top: 3rem;
    background-color: var(--e-global-color);
    width: 100%;
    height: 100px;
}

.tdr {
    color: #FFF;
    margin-left: 500px;
}

.tdra {
    margin-left: 535px;
    color: #FFF;
}

.peau {
  padding-left: 6rem;
}

h1 {
  text-transform: uppercase;
  color: #606060;
  text-align: center;
}

.tcp {
  text-align: center;
}

.peup {
  color: #313131;
}

.img-container {
  display: flex;
  gap: 2rem;
}

.ipi {
  font-size: 12px;
  color: #606060;
  text-align: center;
}

.img-ctn {
  max-width: 360px;
}

.ipis {
  display: flex;
}

h3 {
  color: #606060;
  text-align: center;
}

.btn-sb {
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  background-color: #1b408b;
  color: #FFF;
  margin-left: 120px;
  margin-top: 30px;
}

.btn-sb:hover {
  opacity: 0.60;
  transition: 0.4s;
}

.cqcu {
  text-align: center;
  padding: 10rem;
}

.jcu {
  color: #313131;
}

.swiper-slide {
  font-size: 13px;
  color: #606060;
  padding-top: 4rem;
}

.cupee {
  margin-top: 50px;
  text-align: center;
}

.aaqs {
  text-align: center;
  font-size: 12px;
  color: #606060;
}

.icons-isso {
  display: flex;
  background-color: var(--e-global-color);
  color: #FFF;
  font-size: 48px;
}