html {
    font-family: sans-serif;
}

:root {
    --e-global-color: #1b408b;
    --e-button-color: #F7D117;
}

li {
    list-style: none;
}



a {
    position: relative;
}

.logo {
    padding-left: 5rem;
}

#inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

#navbar a {
    color: var(--e-global-color);
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    padding: 1rem;
}

#inner-header {
    padding: 1rem;
    align-items: center;   
}

a:hover {
    opacity: 0.60;
    border-bottom: 3px solid var(--e-button-color);
}

.veio {
    position: absolute;
    bottom: 6.2rem;
    z-index: 1;
}

.sombra {
    position: relative;
    top: 28.1rem;
    right: -70px;
}

.pulverizador {
    position: 4rem;
    z-index: 2;
}